html, body {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center
}

/* --- Welcome Page Styles --- */
body {
  background-color: #dfe3dc;
  color: #333;
  font-family: Roboto;
  line-height: 18px;
}

h1 {
  font-size: 36px;
  line-height: 54px;
}

h2 {
  border-bottom: 2px solid #ccc;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  line-height: 36px;
}

p {
  margin-bottom: 18px;
}

a:link{
  color: black;
}

button, input[type=submit] {
  background-color: pink;
  border: none;
  color: black;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 15%;
  height: 10%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

/* 
button:hover {
  background-color: purple;
  border: none;
  color: black;
  padding:0.35em 1.2em;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 10%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
} */

.complete, .delete-tasks {
  background-color: pink;
  border: none;
  color: black;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 42%;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
}

input[type=text], input[type=password], input[type=email] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.toggle-form {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background:#rgb(203, 205, 219)
    opacity: .8;
  }

  /* #task-field{
    display: inline-grid;
    grid-column-gap: 60px;
    grid-row-gap: 10px;
  } */

  #task-field{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly + 'safe';
    /* margin: 2rem; */
    align-items: flex-start;
  }
        

  .task{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    flex: 'flex-grow';

    grid-column-gap: 60px;
    grid-row-gap: 10px;
    border: solid;
    line-height: 1;
    /* background-color: white; */
    width: 275px;
    border: 0;
    height: 225;
    /* padding: 20px; */
    padding: 2rem;
    /* box-sizing: border-box; */
    display: inline-grid;
    margin: 1rem 2rem;
  }
  /* flex box */
