.toggle-form {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background:#rgb(203, 205, 219)
    opacity: .8;
  }

  .task{
    display: inline-grid;
    grid-column-gap: 60px;
    grid-row-gap: 10px;
  }